---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

let title = "Jesper 'Jeppzone' Olsson Laine - A content creator within gaming, health & lifestyle and tech";
let description =
  "Hi! I'm Jesper. A software developer, gamer and health enthusiast. I like to create content in the form of articles and youtube videos within these fields";

// Use Astro.glob to fetch all post with associated frontmatter
const nbrOfPostsToShow = 3;
const unsortedPosts = await Astro.glob("./lifestyle/blog/*.md");
const posts = unsortedPosts
  .sort(function (a, b) {
    return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
  })
  .slice(0, nbrOfPostsToShow);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image="https://i.ibb.co/qNSvxXB/j-logo-high-res.png" canonicalUrl="https://jeppzone.com/" />
  </head>

  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <img class="round" src="https://i.ibb.co/mHtqVph/Jesper-olsson-laine.jpg" alt="Jesper Olsson Laine" />
          <h1>Jesper "Jeppzone" Olsson Laine</h1>
          <h2>Hi! I'm Jesper. A software developer, gamer and health enthusiast.</h2>
          <h3>
            I like to create videos and write articles about these topics. Feel free to check out my content or read more about me in the <a
              href="/about">about section</a
            >
          </h3>
        </section>
        <section class="content-section">
          <h3>Jeppzone Lifestyle</h3>
          <div class="topics">
            <a href="/lifestyle"><div class="topic"><img src="/assets/blog/lifestyle_750x200.png" /></div></a>
          </div>
          <h4>
            Check out the recent posts from my health and lifestyle blog or click the logo above to see the lifestyle section of this website in its
            entirety
          </h4>
          <div class="recent-posts">
            {
              posts.map(({ url, frontmatter }) => (
                <a href={url}>
                  <div
                    class="recent-post"
                    style={`background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(${frontmatter.heroImage.src})`}
                  >
                    <h4>{frontmatter.title}</h4>
                  </div>
                </a>
              ))
            }
          </div>
        </section>
        <section class="content-section">
          <h3>Jeppzone Gaming</h3>
          <div class="topics">
            <a href="/gaming"><div class="topic"><img src="/assets/blog/gaming_750x200.png" /></div></a>
          </div>
          <h4>Watch the lastest video from my gaming channel or click the logo above to see the gaming section of this website in its entirety</h4>
          <div class="video-container">
            <iframe width="1000" height="600" src="https://www.youtube.com/embed?listType=playlist&list=PLlBISr08GuCJA5yEtP2h4mTVGtvK48rkM"> </iframe>
          </div>
        </section>
        <section class="content-section">
          <h3>Jeppzone Tech - COMING SOON!</h3>
          <div class="topics">
            <div class="topic inactive"><img src="/assets/blog/tech_700x250.png" /></div>
          </div>
          <h4>
            In the near future, I will produce blog posts and start a Youtube channel around the subject of tech in general and programming in
            particular. Stay tuned for that!
          </h4>
        </section>
      </main>
    </div>
    <Footer />
    <style>
      body {
        margin: 0;
      }
      .wrapper {
        min-height: 100vh;
        padding-top: 1rem;
      }

      .intro {
        margin-bottom: 1rem;
        border-bottom: 4px solid var(--theme-divider);
        text-align: center;
      }
      .intro img {
        width: 300px;
      }

      h1 {
        font-weight: 700;
      }
      h3,
      h4 {
        text-align: center;
      }
      .round {
        border-radius: 50%;
      }
      .content-section {
        padding-bottom: 20px;
        border-bottom: 4px solid var(--theme-divider);
      }
    </style>
  </body>
</html>
