---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

let title = "The Jeppzone Blog";
let description = "The Jeppzone blog aims to be a source of inspiration for health and lifestyle-related content.";

// Use Astro.glob to fetch all post with associated frontmatter
const nbrOfPostsToShow = 5;
const unsortedPosts = await Astro.glob("./posts/*.md");
const posts = unsortedPosts
  .sort(function (a, b) {
    return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
  })
  .filter((p) => {
    return !p.frontmatter.title?.toLowerCase().includes("hot") && !p.frontmatter.title?.toLowerCase().includes("carnivore");
  })
  .slice(0, nbrOfPostsToShow);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalUrl="https://jeppzone.com/" />
  </head>

  <body>
    <Header />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <h1>{title}</h1>
          <h2>
            Hi! I'm Jesper. A software developer and health enthusiast. In this blog I write about all things health and lifestyle. Happy reading!
          </h2>
          <h3>Recent blog posts</h3>
        </section>
        <section aria-label="Blog post list">
          {
            posts.map(({ url, frontmatter }) => (
              <BlogPostPreview
                title={frontmatter.title}
                description={frontmatter.description}
                publishDate={frontmatter.publishDate}
                url={url}
                heroImage={frontmatter.heroImage}
              />
            ))
          }
        </section>
      </main>
    </div>
    <Footer />
  </body>

  <style>
    body {
      margin: 0;
    }
    .wrapper {
      min-height: 100vh;
      padding-top: 3rem;
    }

    .intro {
      margin-bottom: 1rem;
      border-bottom: 4px solid var(--theme-divider);
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
  </style>
</html>
