---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import LifestyleFooter from "../../components/LifestyleFooter.astro";

let title = "Jeppzone Lifestyle Landingpage";
let description = "This site contains information about what resources are available for Jeppzone Lifestyle";

const nbrOfPostsToShow = 100;
const unsortedPosts = await Astro.glob("./blog/*.md");
const posts = unsortedPosts
  .sort(function (a, b) {
    return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
  })
  .filter((p) => {
    return !p.frontmatter.title?.toLowerCase().includes("hot") && !p.frontmatter.title?.toLowerCase().includes("carnivore");
  })
  .slice(0, nbrOfPostsToShow);
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image="https://i.ibb.co/qNSvxXB/j-logo-high-res.png"
      canonicalUrl="https://jeppzone.com/lifestyle/"
    />
  </head>

  <body>
    <Header />
    <img class="banner" src="/assets/blog/lifestyle_banner.png" alt="JEPPZONE LIFESTYLE" />
    <div class="wrapper">
      <main class="content">
        <section class="intro">
          <h1>Welcome to the lifestyle section of my website!</h1>
          <h2>
            Here I write blog posts about all things health and lifestyle. Feel free to checkout my <a
              href="https://www.youtube.com/@jeppzonelifestyle"
            >
              Youtube Channel
              <img class="icon" src="/assets/blog/youtube-icon.png" alt="Youtube Icon" />
            </a>
          </h2>
          <h3>Blog posts</h3>
        </section>
        <section aria-label="Blog post list">
          {
            posts.map(({ url, frontmatter }) => (
              <BlogPostPreview
                title={frontmatter.title}
                description={frontmatter.description}
                publishDate={frontmatter.publishDate}
                url={url}
                heroImage={frontmatter.heroImage}
              />
            ))
          }
        </section>
      </main>
    </div>
  </body>
  <LifestyleFooter />
</html>

<style>
  body {
    margin: 0;
  }
  .content {
    margin-top: 2rem;
  }
  .wrapper {
    min-height: 100vh;
    padding-top: 1rem;
  }

  .banner {
    min-width: 400px;
    width: 100%;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .intro {
    margin-bottom: 1rem;
    border-bottom: 4px solid var(--theme-divider);
  }
  .icon {
    width: 35px;
    align-items: center;
  }
</style>
